@import url(common.css);

main div.form {
  display: flex;
  border: 2px solid #4a4a4a;
  text-align: left;
  gap: 30px;
  padding-left: 95px;
  padding-right: 95px;
  padding-top: 40px;
  padding-bottom: 40px;
}

main div.text {
  flex: 1;
}
main div.textarea {
  flex: 1;
}
/* 太字 */
main div.form legend {
  font-weight: bold;
  padding-bottom: 15px;
}

/* アウトラインなし */
main input[type="text"],
main input[type="email"],
main input[type="tell"],
main textarea {
  width: 100%;
  outline: none;
  height: 44px;
}

main div.text fieldset {
  margin-bottom: 30px;
}
main textarea {
  height: 270px;
  resize: vertical;
}

/* 必須項目 */
main form p.required {
  text-align: right;
  color: #1d1502;
  padding-top: 10px;
}
/* 送信ボタン */
main form button {
  padding: 16.5px 62px 16.5px 62px;
  background: #6b5311;
  cursor: pointer;
  color: #fffdf8;
  margin-top: 54px;
  margin-bottom: 67px;
}

main form button:hover {
  opacity: 0.7;
}

/* 個人情報 */
main form div.information {
  max-width: 730px;
  font-size: 16px;
  background: #6b5311;
  color: #ffffff;
  padding-top: 13px;
  padding-bottom: 6px;
  margin-bottom: 67px;
  margin-left: auto;
  margin-right: auto;
}

main form p.info {
  text-align: left;
  padding-bottom: 13px;
  padding-left: 30px;
  padding-right: 30px;
}

/* レスポンシブ */
@media (max-width: 991px) {
  main form {
    width: unset;
  }
}
/* スマホ*/
@media (max-width: 767px) {
  main div.form {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
