@import url(common.css);
main section {
  margin-bottom: 67px;
}
main section ul.rogo {
  padding-bottom: 67px;
}

/* 全体につける */
main section ul.rogo {
  display: flex;
  justify-content: center;
  gap: 30px;
}

main section h2 {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  font-size: 28px;
  padding-top: 17px;
  padding-bottom: 17px;
  font-weight: bold;
  border-top: 2px solid #868686;
  border-bottom: 2px solid #868686;
  margin-bottom: 50px;
}

main section p {
  line-height: 35px;
  font-size: 20px;
  text-align: left;
  padding-left: 7px;
  padding-right: 7px;
  border-bottom: 3px solid #000;
  padding-bottom: 53px;
}

main section ul.event {
  border-bottom: 3px solid #000;
}

main section ul.event li {
  padding-bottom: 53px;
}

@media (max-width: 767px) {
  p.visual img {
    height: 300px;
    object-fit: cover;
    object-position: right;
  }
}
